body{
  font-family: Arial, sans-serif;
  }

.overview{
  margin: 20px -5px;
  padding: 30px 50px 30px;
  color:rgb(65, 80, 80);
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  border-radius: 5px;
  }

  header:hover{
  color:whitesmoke;
  }

  ul{
    margin: 0;
    padding: 0;
  }

  li{
    list-style-type: none;   
 }
.wrapper{
  max-width: 600px;
  margin: 30px auto;
}

 .units{
  position: relative;
  top: -14px;
  }

.headIcon{
  font-size: 25px;
  color:  rgb(135, 135, 135);
}
