body{
  background-color: #eeeeeeea;
  }

  header{
  text-align: center;
  margin: 40px 5px;
  font-family: sans-serif;
  padding: 5px 30px 5px; 
  color:rgb(65, 80, 80);
  }

  header:hover{
  color:whitesmoke;
  border-radius: 10px;
  }

#search-button, #current-button{
  display: inline-block;}

.headIcon{
  font-size: 50px;
  margin-left: 75px; 
}
.dayNtime{
  position: absolute;
}
.humNwin{
  margin-left: 100px;
}
  li{
    list-style-type: none;   
    
  }
  .card{
      background-color: #cce2e9;
      margin-bottom: 5px;
      border-radius: 10px;
  }
  .card-body{
  text-align: center;
  border: 1px solid #D3B2D9; 
  color: #7c7c7c;
  }
  
  .card-body:hover{
  border: 5px solid #D3B2D9;
  }

  .units{
  position: relative;
  top: -14px;
  }

  .content {
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
    padding: 30px 100px 30px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
  }
  
    footer{
  text-align: center;
  font-family: monospace;
  margin-bottom: 40px;
  }